.blue-login {
  padding-top: 3em;
  box-sizing: border-box;
  min-height: 100vh;
  background:linear-gradient(0deg,rgba(21,162,254,0.85),rgba(21,162,254,0.85)),url("img/background.jpg");
  background-size: 100%;
}

.portal-login {
  margin: 40px auto;
  box-shadow: 0 10px 50px grey;
  background-color: #FFF;
  padding: 35px;
  border-radius: 5px;
}

.portal-login .login-app-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.portal-login .pull-right {
  margin-left: 140px;
}

.portal-login .btn {
  border: 2px solid transparent;
  background: #15a2fe;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  padding: 5px 0;
  border-radius: 3px;
  transition: 0.25s;
  width: 275px;
}

.portal-login .btn:hover {
  background-color: #2682d6;
}

.blue {
  color: #15a2fe;
}

.login-footer {
  color: white;
  text-align: center;
}

.forgot-password {
  text-align: right;
}

.back-to-login {
  color: #15a2fe;
  padding-top: 25px;
  text-align: left;
}

.error-top-margin {
  margin-top: 60px;
  margin-bottom: 40px;
}

.Loading {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

form label.error {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: lighten( red, 20% );
}

